.contact-wigit {
    margin: auto auto;
}

@media (max-width: 750px) {
    .contact-wigit {
        width: 95%;
        margin-top: 25px;
        border: 5px solid #384925;
        border-radius: 15px;
    }
}