.contact-wigit {
    margin: auto auto;
    height: 700px;
    width: auto;
}

@media (max-width: 683px) {
    .contact-wigit {
        width: 95%;
        height: 80dvh;
        margin-top: 25px;
        border-radius: 15px;
        overflow: auto;
    }
}