@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo {
    font-family: "Poppins", serif;
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
    background: #606c38;
    margin: auto auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 0px 15px;
}

.nav-container-mobile {
    display: none;
}

@media (max-width: 750px) {

    .nav-container {
        display: none;
    }

    .logo {
        font-size: 2rem;
    }

    .nav-container-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        height: 60px;
        background: #606c38;
        margin: auto auto;
        margin-top: 20px;
        border-radius: 15px;
        padding: 0px 15px;
    }

    .nav-mobile-toggle {
        display: block;
        background: none;
        border: none;
        padding: 10px;
        position: relative;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transform: translateY(-50%);
        z-index: 1001;
    }

    .nav-hamburger {
        display: block;
        width: 24px;
        height: 2px;
        background: white;
        position: relative;
        transition: all 0.3s ease;
    }
    
    .nav-hamburger::before,
    .nav-hamburger::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background: white;
        transition: all 0.3s ease;
    }
    
    .nav-hamburger::before {
        transform: translateY(-8px);
    }
    
    .nav-hamburger::after {
        transform: translateY(8px);
    }
    
    .nav-hamburger.open {
        background: transparent;
    }
    
    .nav-hamburger.open::before {
        transform: rotate(45deg);
    }
    
    .nav-hamburger.open::after {
        transform: rotate(-45deg);
    }
}

